{% extends 'home/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            
            
            <h4>Создать запись в Дневник</h4>
            {% if isPostCreated and not isError %}
            
            <div class="alert  alert-dismissible fade show text-center" role="alert" style="border: 1px solid;">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                
                <strong>Запись акции {{textMsg}} успешно сохранена!</strong> 
            </div>
            {% endif %}
            {% for textErr in textError %}

            <div class="alert  alert-dismissible fade show" role="alert" style="border: 1px solid;">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            
                <strong>Ошибка</strong> {{textErr}}
            </div>
            {% endfor%}
            <div class="container">
                <div class="row">
                    <div class="col-8 mx-auto mycontainer shadow">
                        
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="" class="form-label">Выберите акцию</label>
                                <select class="form-select form-select-sm" name="uniqStocks" id="uniqStocks">
                                    {% for stock in userUniqStocks%}
                                        <option>{{stock}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% for field in form %}
                            <div class="mb-3">
                                <label for="" class="form-label">{{field.label}}</label>
                                {{field}}
                                <small id="helpId" class="form-text text-muted">{{field.help_text}}</small>
                            </div>
                            {% endfor %}
                            <button type="submit" href="{% url 'diary' %}" class="btn btn-md center-block" style="border: 1px solid black;">Добавить</button>
                            <br><br>
                        </form>
                    </div>
                    
                </div>
            </div>

            
        </div>
    </div>

</div>
<br>
{% endblock content%}
