{% extends 'home/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            {% for textErr in errors %}
            <br>
            <div class="alert  alert-dismissible fade show" role="alert" style="border: 1px solid;">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            
                <strong>Ошибка</strong> {{textErr}}
            </div>
            {% endfor %}
        </div>
        <div class="col-8 mx-auto">
            {% for text in success %}
            <br>
            <div class="alert  alert-dismissible fade show" role="alert" style="border: 1px solid;">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            
                <strong>Успех</strong> {{text}}
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto card shadow">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="" class="form-label">Введите старый пароль</label>
                      <input type="password"
                          class="form-control form-control-sm" name="oldPassword" id="" aria-describedby="helpId" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Введите новый пароль</label>
                        <input type="password"
                            class="form-control form-control-sm" name="password1" id="" aria-describedby="helpId" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Повторите новый пароль</label>
                        <input type="password"
                            class="form-control form-control-sm" name="password2" id="" aria-describedby="helpId" placeholder="">
                    </div>  
                    <button class="btn btn-md btn-outline-success">Сохранить</button>
                </form>
                <br>
            </div>
            
        </div>
    </div>
{% endblock content%}