{% extends 'home/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-10">
                {%if isPosted%}
                    {% for post in posts %}
                    <div class="container">
                        <div class="row">
                            <div class="col-10 mycontainer mx-auto">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-5">
                                            <h5>{{post.stockTick}}</h5>
                                            <p>
                                                Цена открытия: {{post.priceOpen}} руб.
                                            </p>
                                            <p>
                                                Цена закрытия: {{post.priceClose}} руб.
                                            </p>
                                            {%if post.priceMin%}
                                            <p>
                                                Минимальная цена: {{post.priceMin}} руб.
                                            </p>
                                            {%endif%}
                                            {%if post.priceMax%}
                                            <p>
                                                Максимальная цена: {{post.priceMax}} руб.
                                            </p>
                                            {%endif %}
                                            <p>
                                                Дата поста: {{post.date}}
                                            </p>
                                        </div>
                                        <div class="col-7">
                                            <h6>Пост:</h6>
                                            <div class="text-wrap text-break">
                                                {{post.msg}}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <br>
                    {%endfor%}
                            
                {%else%}
                <div class="container">
                    <div class="row">
                        <div class="col-10">
                            <p>Вы не выложили еще ни одной записи. Нажмите "Создать запись"</p>
                        </div>
                        
                    </div>
                </div>
                {%endif%}
                
            </div>
            <div class="col-2">
                <br>
                <a type="button" class="btn mybtn btn-md btn-secondary" href="{% url 'add-post' %}">
                    Создать запись
                </a>
            </div> 
        </div>
    </div>
{% endblock content %}