<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>SMD</title>
</head>

<body>
    <header style="background-color: rgb(227, 230, 232);">
        <a href="/" class="link logo">
            <img src="{% static "img/logo.png" %}" class="logo-img">
            SMD
        </a>
        <div class="panel">
            <nav>
            <a href="/profile" class="link subpanel">
                Профиль
            </a>
            <a href="/about" class="link subpanel">
                Об авторе
            </a>
            </nav>
        </div>
    </header>
</body>

</html>