{% extends 'home/base.html' %}
{% block content %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-6 card mx-auto shadow">
    
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="" class="form-label">Логин</label>
                          {{form.username}}
                        </div>
                        <div class="mb-3">
                          <label for="" class="form-label">Пароль</label>
                          {{form.password}}
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="d-flex justify-content-end col-12">
                                    <a href="{% url 'password_reset' %}" class="mylink" style="color: grey;">Забыли пароль?</a>
                                </div>
            
                            </div>
                        </div>
                        
                        <div class="container">
                            <div class="row">
                                <div class="col-4 mx-auto">
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-success">Войти</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>                

                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}