{% extends 'home/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="" class="form-label">Новый пароль</label>
                      {{form.new_password1}}
                    </div>  
                    <div class="mb-3">
                        <label for="" class="form-label">Подтвердите пароль</label>
                        {{form.new_password2}}
                      </div>    
                    <button type="submit" class="btn btn-outline-success">Изменить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content%}