{% extends 'home/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-10">
                {% for textErr in textError %}
                <br>
                <div class="alert  alert-dismissible fade show" role="alert" style="border: 1px solid;">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                
                    <strong>Ошибка</strong> {{textErr}}
                </div>
                {% endfor %} 
                {% if portfoliosAndStocks %}
                {% for portfolio, portfolioStats, stocks in portfoliosAndStocks %}
                    <div class="container">
                        <div class="row">
                            <div class="col-10 mx-auto">
                                
                                <h5>Название: <a href="show-portfolio/{{portfolio.1}}" class="mylink">{{portfolio.0}}</a></h5>
                                {% if portfolioStats.totalMonth > 0 %}
                                    <p>
                                        Итог за этот месяц: 
                                        <span class="text-success"> 
                                            <strong>{{portfolioStats.totalMonth | floatformat}}</strong> руб. 
                                            (<strong>{{portfolioStats.totalMonthPercent | floatformat}}</strong>%)
                                        </span>
                                    </p>
                                    {% elif portfolioStats.totalMonth < 0 %}
                                    <p>
                                        Итог за этот месяц: 
                                        <span class="text-danger"> 
                                            <strong>{{portfolioStats.totalMonth | floatformat}}</strong> руб. 
                                            (<strong>{{portfolioStats.totalMonthPercent | floatformat}}</strong>%)
                                        </span>
                                    </p>
                                    {% else %}
                                    <p>
                                        Итог за этот месяц: 
                                        <span class="text-warning"> 
                                        <strong>{{portfolioStats.totalMonth | floatformat}}</strong> руб. 
                                        (<strong>{{portfolioStats.totalMonthPercent | floatformat}}</strong>%)
                                        </span>
                                    </p>
                                    {%endif%}
                                    
                                    {% if portfolioStats.totalYear > 0 %}
                                    <p>
                                        Итог за этот год: 
                                        <span class="text-success"> 
                                            <strong>{{portfolioStats.totalYear | floatformat}}</strong> руб. 
                                            (<strong>{{portfolioStats.totalYearPercent | floatformat}}</strong>%)
                                        </span>
                                    </p>
                                    {% elif portfolioStats.totalYear < 0 %}
                                    <p>
                                        Итог за этот год: 
                                        <span class="text-danger"> 
                                            <strong>{{portfolioStats.totalYear | floatformat}}</strong> руб. 
                                            (<strong>{{portfolioStats.totalYearPercent | floatformat}}</strong>%)
                                        </span>
                                    </p>
                                    {% else %}
                                    <p>
                                        Итог за этот год: 
                                        <span class="text-warning"> 
                                        <strong>{{portfolioStats.totalYear | floatformat}}</strong> руб. 
                                        (<strong>{{portfolioStats.totalYearPercent | floatformat}}</strong>%)
                                        </span>
                                    </p>
                                    {%endif%}
                                <h5>Акции:</h5>
                                {% if stocks %}
                                {% for stock in stocks %}

                                <div class="container">
                                    <div class="row">
                                        <div class="col-6 mx-auto mystock">
                                            <div class="card">
                                                <div class="card-body">
                                                    <p class="card-text">TICK: <a href="/show-stock/{{stock.id}}" class="mylink">{{stock.tick}}</a> <br>
                                                        Цена: {{stock.priceRUB}} руб. <br>
                                                        Количество: {{stock.amount}} <br>
                                                        Дата покупки: {{stock.dateBuying}} <br>
                                                        Отрасль: {{stock.industry}}</p>
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="d-flex justify-content-end col-12">
                                                                    <a href="edit-stock/{{stock.id}}" class="mylink">редактировать</a>
                                                                </div>
                                            
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                                {% else %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <p>В данном портфеле нет акций</p>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                            </div>           
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
            {%else%}
            <p>У вас еще нет портфеля. Нажмите кнопку "Создать портфель"</p>
            {% endif    %}
            <div class="col-2">
                <br>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-success btn-md" data-bs-toggle="modal" data-bs-target="#modalId">
                Создать портфель
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h5 class="modal-title" id="modalTitleId">Создать портфель</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                        <form method="POST">    
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="container-fluid">
                                        <div class="mb-3">
                                            {{ portfolioForm.portfolioName }}  
                                        </div>
                                        <div class="mb-3">
                                            {{ portfolioForm.portfolioMoney }}  
                                        </div>
                                        <div class="mb-3">
                                            {{ portfolioForm.portfolioComission }}  
                                        </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-outline-success btn-md">Создать</button>
                            </div>
                        </form>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
    var modalId = document.getElementById('modalId');

    modalId.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            let button = event.relatedTarget;
            // Extract info from data-bs-* attributes
            let recipient = button.getAttribute('data-bs-whatever');

        // Use above variables to manipulate the DOM
    });
</script>
{% endblock content %}