{% extends 'home/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <h3>Ваши портфели:</h3>
                {% for portfolio, stocks in portfolios %}
                    <div class="container">
                        <div class="row">
                            <div class="col-10 mx-auto" style="border: 1px solid; border-radius: 5px;">
                                <h5>Название: {{portfolio}}</h5>
                                <h5>Акции:</h5>
                                    {% for stock in stocks%}
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-6 mx-auto mystock mycontainer">
                                                    <p>
                                                        TICK: {{stock.tick}} <br>
                                                        Цена: {{stock.priceRUB}} руб. <br> 
                                                        Количество: {{stock.amount}} <br>
                                                        Дата покупки: {{stock.dateBuying}} <br>
                                                        Отрасль: {{stock.industry}}
                                                    </p>
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="d-flex justify-content-end col-12">
                                                                <a href="edit-stock/{{stock.id}}" class="mylink">редактировать</a>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    {%endfor%}
                            </div>           
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock content %}