{% include "home/base.html"%}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
</head>

<body>
    <div class="main grid-container">
        <div class="sidepanel" style="grid-column: 1 / 2;"></div>
        <div class="mainpanel" style="grid-column: 2 / 3 ;">
            <h1>
                Профиль
            </h1>
        </div>
        <div class="sidepanel" style="grid-column: 3 / 4;"></div>
    </div>

</body>

</html>