{% extends 'home/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto card shadow">
            {% for textErr in textError %}
            <br>
            <div class="alert  alert-dismissible fade show" role="alert" style="border: 1px solid;">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        
                <strong>Ошибка</strong> {{textErr}}
            </div>
            {% endfor %}
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                  <label for="" class="form-label">{{field.label}}</label>
                  <br>
                  {{field}}
                </div>
                

                {% endfor %}
                <div class="container">
                    <div class="row">
                        <div class="col-6 mx-auto">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-success btn-md">Зарегистрироваться</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
            <br>
        </div>
        
    </div>
</div>
    

{% endblock content %}