body{
    font-family: Arial;
}
.panel{
    height: 5vh;
    width: 100vw;
    font-size: 13pt;
        margin: auto;

}
.link{
    text-decoration: none;
    color:black;
}
.subpanel{
    background-color: whitesmoke;
    height: 80%;
    width: max-content;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    align-content: center;
}
.right-panel{
    margin-right: 50%;
}
.logo{
    font-size: 25pt;
    text-align: center;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    display: inline-block;
}
.logo-img{
    width: 30px;
    height: 30px;
}